@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Press Start 2P", sans-serif;
}

ul {
  list-style-type: auto;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
